<!doctype HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i&display=swap&subset=cyrillic" rel="stylesheet">
        <link rel="stylesheet" href="index.css">
        <link rel="stylesheet" href="form.css">
        <link rel="stylesheet" href="display.css">
        <title>Guess game</title>
    </head>
    <body>
        <div class="container">
            <header></header>
            <div class="message-history">
                <ul class="message-history__list">
                    {{#each messages ~}}
                      <li class="message-history__{{from}}-message">
                        <span class="message__author">{{author}}</span>: 
                        <span class="message__text">
                            {{addNewLines text}}
                        </span>
                    </li>
                    {{~/each}}
                </ul>
            </div>
            <div class="user-inputs">
                <form class="answer-form" method="post">
                    <input 
                        type="text" 
                        class="answer-form__message" 
                        name="message" 
                        autofocus 
                        autocomplete="off"
                        value="">
                    <button class="answer-form__button">Send</button>
                </form>
            </div>
        </div>
        <script src="index.js"></script> 
    </body>
</html>