<!doctype HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Guess game</title>
        <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="index.css">
        <link rel="stylesheet" href="form.css">
        <link rel="stylesheet" href="display.css">
    </head>
    <body>
        <div class="container">
            <header></header>
            <div class="message-history">
                <ul class="message-history__list">
                    <li class="message-history__server-message">
                        <span class="message__author">server</span>: 
                        <span class="message__text">
                            Hello! Type 'hello' to start conversation with server.
                        </span>
                    </li>
                </ul>
            </div>
            <div class="user-inputs">
                <form class="answer-form" method="post">
                    <textarea class="answer-form__message" name="message" rows="2"></textarea>
                    <button class="answer-form__button">Send</button>
                </form>
            </div>
        </div>
        <script src="index.js"></script> 
    </body>
</html>