.message-history__list {
    padding: 0;
    margin: 0;
}
.message-history__list > li {
    list-style-type: none;
    padding: 0.3rem 1rem;
    width: 70%;
}
.message-history__server-message {
    color: hsl(160, 100%, 40%);
    margin-left: 0;
    margin-right: auto;
}
.message-history__client-message {
    font-style: italic;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}
.message__author {
    text-decoration: underline;
    font-weight: bold;
}