.answer-form {
    padding: 0;
    margin-bottom: 1rem;
    display: flex;
}
.answer-form > * {
    box-sizing: border-box;
    display: block;
    margin: 0.2rem 0;
    font-family: "PT Serif", serif;
    line-height: 1.4;
    font-size: 1rem;
    min-height: 48px;
    padding: 0.5rem;
}
.answer-form__message {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 0.1px solid var(--text-color);
    flex: 5 1 70%;
    min-width: 70%;
}
.answer-form__button {
    background-color: var(--background-color);
    color: var(--server-message-color);
    border: 0.1px solid var(--text-color);
    cursor: pointer; 
    flex: 1 1 15%;   
}
.answer-form__button:active {
    background-color: var(--server-message-color);
    color: var(--background-color);
}
.button-hint {
    font-style: italic;
    color: hsla(160, 100%, 40%, 0.5);
}