.form {
    padding: 0;
}
label {
    display: block;
}
.form > * {
    width: 100%;
    margin: 0.2rem 0; 
    border: 1px;
    font-family: "PT Serif", serif;
    line-height: 1.4;
    font-size: 1rem;
}
.form__message {
    resize: none;
}