html, body {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    font-size: 24px;
}
body {
    --background-color: hsl(0, 0%, 10%); 
    --text-color: hsl(37, 0%, 80%);
    --server-message-color: hsl(160, 100%, 40%);
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "PT Sans", "Segoe UI", "Verdana", "Helvetica", sans;
    line-height: 1.4;
}
header {
    height: 0%;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    width: 95%;
    margin: 0 auto;
}
.message-history {
    flex: 1 1 80%; 
    background-color: var(--background-color);
    color: var(--text-color);
    max-height: 90%;
    overflow-y: auto;
    margin: 1rem 0;
}
@media screen and (min-width: 1000px) {
    html {
        font-size: 24px;
    }
    .container {
        width: 1000px;
    }
}